# Tout ignorer sauf le fichier .gitignore
*
!.gitignore
!liste_de_raccourcis.txt

# Garder le plugin Package Control uniquement
!Installed Packages
Installed Packages/*
!Installed Packages/Package Control.sublime-package

# Garder les raccourcis clavier, les préférences, les builds et les snippets
!Packages
Packages/*
!Packages/User
Packages/User/*
!Packages/User/*.sublime-keymap
!Packages/User/*.sublime-settings
!Packages/User/*.sublime-build
!Packages/User/*.sublime-theme
!Packages/User/Snippets
Packages/User/Snippets/*
!Packages/User/Snippets/*.sublime-snippet

# Garder les assets du plugin Random Everything
!Packages/Random Everything/assets
Packages/Random Everything/assets/*
!Packages/Random Everything/assets/*.txt
